# folders or files
cubercnn/modeling/backbone/checkpoint_weights/*
.vscode/
.ipynb_checkpoints/
.idea/
output/
cubercnn/external/
slurm/
unused/
checkpoints/
ovmono3d_data/
ovmono3d
# filetypes
*.pyc
*.mexa64
*/output/*
*/output*/*
*~
*.so
*.pth
*.zip